

.home, .thisisGADIV  {
    background: radial-gradient(circle, rgba(38,201,19,1) 18%, rgba(102,3,124,1) 66%);
}

.projects, .services, .cust-support {
    background: radial-gradient(circle, rgba(245,127,23,1) 15%, rgba(35,185,222,1) 62%);
}

.carousel-container {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.carousel-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.carousel-caption {
    text-align: center;
    padding: 2px 16px;
    color: white;
}

.carousel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    opacity: 0;
}


.carousel-text h3 {
    margin-top: 0;
}

.carousel-buttons {
    position: absolute;
    top: calc(50% - 20px);
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    gap: 10px; 
    z-index: 1;
}

.carousel-button {
    background-color: #000; 
    color: #fff; 
    border: none; 
    padding: 10px; 
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #fcfa21;
}

h2 {
    text-align: center;
    color: chartreuse;
}

header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 50px 0;
    color: gold;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

  nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}
